# MLflow Model URI
MODEL_URI="MODEL_URI=models:/logistic_regression_churn@champion"

# MLflow Tracking URI
MLFLOW_TRACKING_URI=http://localhost:5000


AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000

# UI
API_BASE_URL=http://localhost:8000